]777;notify;Command completed;ls\]777;precmd\]0;rocky@jrvs-remote-desktop:~/dev/jarvis_data_eng_JasonSastra/linux_sql\]7;file://jrvs-remote-desktop/home/rocky/dev/jarvis_data_eng_JasonSastra/linux_sql\